@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Homemade+Apple&family=Jacques+Francois+Shadow&family=Quicksand:wght@500&display=swap');

* {
    border: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    box-sizing: border-box;
}

body {
    margin: 0;


    
}

.banner {
    border: solid 2px black;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgRedonda {
    width:100px;
    height:100px;
    border-radius:50px;
    border:2px solid rgb(0, 0, 0);
    margin-left: 5%;
}

.aboutme {
    width: 30%; 
    display: flex; 
    margin-right:  3%; 
    justify-content: space-between;
} 

.title { 
    font-family: 'Fredoka One', cursive;
    font-size:35px;
} 

.principal {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

article {
    display:flex;
    flex-direction: column;
}


figure {
    justify-content: center;
    max-width: 300px;
}

section {

    box-sizing: border-box;
    border:solid 2px black;
}

main {
    display :flex;
    flex-direction: column;
}

.barralateral {
    width: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.piedepag {
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); 
    border: solid 2px black;
}

p {
    text-indent: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    font-family: 'Fredoka One', cursive;
    margin-left:10%;

}

h3 {
    font-size: 30px;
    margin-left:10%;
}

h4 {
    margin-left:10%; 
}

button {
    margin-left:10%; 
    margin-block-end: 5%;
    padding: 5px;
    border: solid black;
    width: 70%;

}

li {
    list-style: none;
    margin-left:5%;
}

@media (max-width: 320px) {

    .aboutme {
        margin-left: 15px;
        flex-direction: column;
    }

    .principal {
        font-family: 'Fredoka One', cursive;
        font-size: 30px;
    }

    main {
        flex-direction: column;
        
    }

    figure {
        justify-content: center;
    }

    .img1, .img2, .img3 {
        box-sizing: border-box;
        width: 85%;
    }

    .barralateral  {
        margin:0;
        width: 100%;
        border: solid 2px;
        flex-direction: column;
        background-color: #FFAFBD;
    }

    .banner {
        flex-direction: column;
        align-items:flex-start;
        
}

    .aboutme {
        width: 280px;
        display: flex;
        margin-left:  2%;
        flex-direction: row;
        justify-content: space-between;
    }

    .title {
        font-size: 150%;
    }

    .principal {
        font-size: 200%;
    }
    
}

@media (max-width: 768px){

    .banner {
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        
    }
}

@media (max-width: 768px){

    .banner {
        border: solid 4px black;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        
    }
}
